---
title: Commercial Product List Page
tags: CPLP
layout : default
---
<section class="cplp">
<section class="header">
HEADER
</section>
<section class="hero">
HERO MODULE
</section>
<section class="why-this-product">
WHY THIS PRODUCT
</section>
<section class="video-gallery">
VIDEO GALLERY
</section>
<section class="products-list">
PRODUCTS LIST
</section>
<section class="find-near-u">
FIND NEAR U
</section>
<section class="contact-info">
CONTACT INFO
</section>
<section class="footer">
FOOTER
</section>
</section>