---
title: Commercial Product Detail Page
tags: CPDP
layout : default
---

<section class="cpdp">
<section class="hero">
HERO MODULE
</section>
<section class="floatin-menu-content">
<div class="menu">
STICKY MENU
</div>
<div class="content">
STICKY MENU CONTENT
</div>
</section>
<section class="contact-info">
GET IN TOUCH
</section>
</section>