---
title: Product Search
tags: ProdSearch
layout : default
---
<section class="search">
<section class="header">
HEADER
</section>
<section class="search-pane">
SEARCH BAR
</section>
<section class="results-pane">
<div class="left-pane">FILTERS</div>
<div class="right-pane">RESULTS</div>
</section>
<section class="footer">
FOOTER
</section>
</section>