---
layout: default
title: Resedential Product Listing Page
tags: ResedentialPLP
---
<section class="rplp ui grid">
    <div class="catergory-hero row">
       HERO MODULE
       {{>rplp-catergory-hero}}
    </div>
    <div class="row">
        <div class="four wide column left-panel">
            LEFT PANEL
        </div>
        <div class="twelve wide column right-panel">
            RIGHT PANEL
        </div>
    </div>
</section>