---
title: Resedential Product Listing Page
tags: ResedentialPLP
---
<section class="rplp">
    <section class="rplp-header">
        {{>header}}
    </section>
    <section class="rplp-catergory-hero">
        {{>rplp-catergory-hero}}
    </section>
    <section class="rplp-left-panel">
        {{>rplp-left-panel}}
    </section>
    <section class="rplp-right-panel">
        {{>rplp-right-panel}}
    </section>
    <section class="footer">
        {{>footer}}
    </section>
</section>