---
layout: default
title: Resedential Product Listing Page
tags: ResedentialPLP
---
<section class="rplp">
    <section class="header">
        header
    </section>
    <section class="catergory-hero">
        category Hero
        {{>rplp-catergory-hero}}
    </section>
    <section class="content-container">
        <section class="left-panel">
            Left Panel
            {{>rplp-left-panel}}
        </section>
        <section class="right-panel">
            Right Panel
            {{>rplp-right-panel}}
        </section>
    </section>
    <section class="footer">
        Footer     
    </section>
</section>