---
layout: default
title: Resedential Product Listing Page
tags: ResedentialPLP
---
<section class="rplp">

    <section class="rplp-header">
        HEADER
    </section>
    <section class="rplp-catergory-hero">
       HERO MODULE
    </section>
    <section class="rplp-left-panel">
        LEFT PANEL
    </section>
    <section class="rplp-right-panel">
        RIGHT PANEL
    </section>
    <section class="footer">
       FOOTER
    </section>
</section>