---
title: Residential Product Detail Page
tags: RPDP
layout : default
---

<section class="rpdp">

<section class="hero">
{{>hero-static}}
</section>
<section class="floatin-menu-content">
<div class="menu">
STICKY MENU
</div>
<div class="content">
STICKY MENU CONTENT
</div>
</section>
<section class="contact-info">
GET IN TOUCH
</section>

</section>