<!-- layout.nunjucks -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles/styles.min.css">
  <link rel="stylesheet" href="styles/semantic.min.css">
</head>
<body>

  <!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="scripts/bundle.min.js"></script>
</body>
</html>
