<div class="container" style="width: 100%;
   height: 100%;
   margin: auto 0;
   background-color : bisque;">
   <div class="slider-for carousel-images" style="height: 200px;
      width: 200px;
      margin: auto;
      border: 1px solid;">
      <div><img src="http://lorempicsum.com/simpsons/350/200/2" alt="1"></div>
      <div><img src="http://lorempicsum.com/simpsons/350/200/3" alt="2"></div>
      <div><img src="http://lorempicsum.com/simpsons/350/200/4" alt="3"></div>
      <div><img src="http://lorempicsum.com/simpsons/350/200/3" alt="2"></div>
    </div>
   <div class="slider-nav">
      <div style="width: 100px;
         height: 100px;
         border: 1px solid;
         margin: 25px;">your content1</div>
      <div style="width: 100px;
         height: 100px;
         border: 1px solid;
         margin: 25px;">your content2</div>
      <div style="width: 100px;
         height: 100px;
         border: 1px solid;
         margin: 25px;">your content3</div>
      <div style="width: 100px;
         height: 100px;
         border: 1px solid;
         margin: 25px;">your content4</div>
      <div style="width: 100px;
         height: 100px;
         border: 1px solid;
         margin: 25px;">your content5</div>
   </div>
</div>