---
component: hero-static
---
<div class="ui segment hero-segment">
		<div class="column img-hero">
			<h1 class="ui header">
				Title
				<div class="sub header">Sub heading(optional)</div>
			</h1>
		</div>
</div>

