section.rplp {
     height: 100%;
     width: 100%;
    .header {
        height: 10%;
    }
    .catergory-hero {
        height: 15%;
    }
    .content-container {
        display: block;
        height: 65%;
        .left-panel {
            display: inline-block;
            width: 10%;
        }
        .right-panel {
            display: inline-block;
            width: 89%;
        }
    }
    .footer {
        height: 10%;
    }
}
