---
component: In Page Tab Component
---
<!-- In page tab component starts here -->
<div class="in-page-tab-container">
    <div class="category-names">
        <div class="ui five column grid">
            <div class="row short-names-category">
                <div class="column">   
                    <div class="category-representation"></div>
                    <a class="category" href="#">shingles</a>     
                </div>
                <div class="column">
                    <div class="category-representation"></div>
                    <a class="category" href="#">ventilation</a> 
                </div>
                <div class="column ">
                    <div class="category-representation"></div>
                    <a class="category" href="#">deck protection</a> 
                </div>
                <div class="column active">
                    <div class="category-representation"></div>
                    <a class="category" href="#">starter strips</a> 
                </div>
                <div class="column">
                    <div class="category-representation"></div>
                    <a class="category" href="#">leak barriers</a> 
                </div>
        
        
            </div>   
        </div>
    </div>
    <div class="intractive-category-names">
        <div class="slider-category-names">
            <div>
                <a href="#">shingles shingles</a>
            </div>
             <div>
               <a href="#"> ventilation</a>
            </div>
             <div>
               <a href="#"> deck protection</a>
            </div>
            <div  class="active">
                <a href="#">starter strips</a>
            </div>
              <div>
                <a href="#"> leak barriers</a>
            </div>
        </div>
    </div>
</div>
<!-- In page tab component ends here  -->