{% macro active(activePage='home') %}
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="{%if activePage == 'home' %} active {% endif %} item">Home</a>
        <a class="item">Work</a>
        <a class="item" href="about.html">Company</a>
        <a class="item">Careers</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    </nav>
{% endmacro %}
