<header>
    <div class="ui large top hidden menu">
        <div class="ui container">
            <a class="item {{#is activeMenu 'home'}} active{{/is}}" href="index.html">Home</a>
            <a class="item {{#is activeMenu 'about'}} active{{/is}}" href="about.html">About Content</a>
            <a class="item {{#is activeMenu ''}} active{{/is}}"  href="googleMapWithSearchResult.html">Map</a>
            <a class="item {{#is activeMenu 'search'}} active{{/is}}" href="search.html">Search </a>
            <a class="item {{#is activeMenu 'careers'}} active{{/is}}" href="careers.html">Careers</a>
            <a class="item" data-tab="home">Home2</a>
            <a class="item" id="work" data-tab="work">Work2</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>
