<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{title}} </title>
    <link rel="stylesheet" href="styles/vendor.min.css">
    <link rel="stylesheet" href="styles/styles.min.css">
</head>

<body>
    {{>header}}
    <section class="main-content">
        {% body %}
    </section>
    {{>footer}}
    <script src="scripts/vendor.min.js"></script>
    <script src="scripts/bundle.min.js"></script>
</body>

</html>
