<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
    <link rel="stylesheet" href="styles/vendor.min.css">
    <link rel="stylesheet" href="styles/styles.min.css">
</head>

<body>
    {% body %}
    <script src="scripts/vendor.min.js"></script>
    <script src="scripts/bundle.min.js"></script>
</body>

</html>
