---
component: breadcrumbs
---
<!-- breadcrumbs component starts here -->

<div class="breadcrumbs-container ui grid">
    <div class="computer only row">
         <span class="breadcrumb-icon"></span>
        <a class="breadcrumbs-item" href="#">roofing</a>
        <span class="breadcrumb-icon"></span>
        <a class="breadcrumbs-item" href="#">residential</a>
         <span class="breadcrumb-icon"></span>
        <a class="breadcrumbs-item" href="#">leak barriers</a>
    </div>
</div>
<!-- breadcrumbs component ends here  -->