---
component: breadcrumbs
---
<!-- breadcrumbs component starts here -->
<div class="breadcrumbs-container">
    <a class="breadcrumbs-item" href="#">roofing</a>
    <a class="breadcrumbs-item" href="#">residential</a>
    <a class="breadcrumbs-item" href="#">leak barriers</a>
</div>
<!-- breadcrumbs component ends here  -->