<div>
     <picture>
        <source srcset="images/GettyImages-535279316.jpg" media="(min-width: 1024px)" />
        <source srcset="images/186662234.jpg" media="(min-width: 768px)" />
        <img class="ui fluid image" srcset="images/483770407.jpg" alt="Sample pic" />
    </picture>
    <button class="ui button cta">
  Button
</button>
</div>

<div class="ui divided demo items">
  <div class="item">
    <div class="image">

      <picture>
          <source srcset="images/elliot.jpg" media="(min-width: 1024px)" />
          <source srcset="images/elliot.jpg" media="(min-width: 768px)" />
          <img class="ui fluid image" src="/images/square-image.png" data-src="/images/elliot.jpg"  alt="Sample pic" />
      </picture>
    </div>
    <div class="content">
      <h2 class="ui header">Elliot Fu</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/helen.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Helen Troy</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/jenny.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Jenny Hess</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/veronika.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Veronika Ossi</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/stevie.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Stevie</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/steve.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Steve Jobes</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/ade.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Ade</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/chris.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Chris</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/joe.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Joe Henderson</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/square-image.png" data-src="/images/laura.jpg" class="transition visible">
    </div>
    <div class="content">
      <h2 class="ui header">Laura</h2>
      <p></p>
      <div class="ui primary button">Add Friend</div>
      <div class="ui right floated button">View <i class="right chevron icon"></i></div>
    </div>
  </div>
</div>
